body, html{
  height: 100%;
  margin: 0;
  overflow: hidden;
}

* { 
  margin: 0; 
  padding: 0; 
  box-sizing: border-box; 
 } 

.page-style {
  height: 0px;
}

.homepage {
  text-align: center;
  padding: 50px;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-right-width: 3px;
  border-left-width: 3px;
  margin-bottom: 0;
}

.login-component {
  background-image: url(../src/images/seattleBackgroundImage.jpg);
  height: 100vh; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.button1-style {
  background-color: goldenrod;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  padding: 10px 20px;
  margin-top: 20px;
}

.button-style {
  background-color: goldenrod;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  padding: 10px 20px;
  position: fixed;
  bottom: 0;
  left: 0;
  margin: 20px;
}

.result-style {
  text-align: center;
  background-color: palegoldenrod;
  padding: 50px;
  margin: 100px 200px;
  border-right-width: 3px;
  border-left-width: 3px;
  margin-top: 0px;
}

.logout-style {
  text-align: right;
  background-color: palegoldenrod;
  padding: 50px;
  margin: 100px 200px;
  border-right-width: 3px;
  border-left-width: 3px;
  margin-top: 0px;
}

.h1-style {
  font-family:'Times New Roman', Times, serif;
}
/* tabs */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: cadetblue;
}

.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

.tab button:hover {
  background-color: #ddd;
}

.tab button.active {
  background-color: #ccc;
}

.tabcontent {
  list-style: none;
  color: antiquewhite;
  font-size: larger;
  font-weight: bold;
}

.tab-list-style {
  padding-bottom: 10px;
  padding-left: 10px;
  color: black;
  font-size: medium;
  font-family: serif;
}

.text-style{
  background-color: cornsilk;
  margin-left: 40px;
}

.content {
  background-image: url(../src/images/seattleImage2.jpg);
  height: 100vh; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.para-style {
  margin-top: 0px;
  text-align: right;
  color: antiquewhite;
  font-size: xx-large;
}

.message {
margin-top: 0px;
margin-bottom: 0px;
}

.sightseeing-style {
  text-align: center;
  background-color: palegoldenrod;
  padding: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-right-width: 3px;
  border-left-width: 3px;
  margin: 0; /* Reset margins to center properly */
}

.back-button-style {
  background-color: goldenrod;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  padding: 10px 20px;
  margin-top: 20px;
  align-items: center;
  justify-content: center;
}

.controls{
  display: flex;
  justify-content: center; 
}

/* Calendar.css */


/* calendar dimensions */
.calendar {
  height: 150px;    
  width: 180px;     
  position: fixed;
  top: 50px;
  right: 10px;
  font-family: 'Arial', sans-serif;
  padding: 3px;    
  border: 1px solid #ccc;
  background-color: antiquewhite;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px;     
  background-color: #eee;
}

.month-year {
  font-size: 14px;  
  font-weight: bold;
}


.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 1px;        
  font-size: 10px; 
}


.day {
  padding: 3px;    
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 10px;
}

.day:hover {
  background-color: #ddd;
}

.today {
  background-color: cadetblue;
  color: white;
}

.empty-day {
  visibility: hidden;
}


.events {
  margin-top: 5px;
}

.event {
  background-color: cadetblue;
  color: white;
  padding: 2px 5px;
  margin-top: 2px;
  border-radius: 3px;
  font-size: 12px;
}

.event-list {
  color: goldenrod;
  padding-top: 50px;
  font-size: medium;
}

.add-event {
  margin-top: 10px;
  display: flex;
  align-items: center;
  background-color: goldenrod;
  border: none;
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  justify-content: center;
}

.add-event input {
  flex-grow: 1;
  padding: 5px;
}

.add-event button {
  margin-left: 10px;
  padding: 5px;
  cursor: pointer;
}

.message {
  margin-top: 10px;
  padding: 10px;
  background-color: cadetblue;
  color: #fff;
  text-align: center;
}

@media screen and (max-width: 537px) {
  .calendar {
      display: block;
      margin-top: 50px; /* Add some margin for spacing */
  }
}


.custom-background {
  width: 430px;
  height: 520px;
  transform: translate(-50%, -50%);
  top: 50%;
}


.custom-form {
  height: 550px;
  width: 400px;
  background-color: rgba(255, 255, 255, 0.13);
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 10px;
  backdrop-filter: blur(7px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  padding: 50px 35px;
}

.custom-form * {
  font-family: 'Poppins', sans-serif;
  /* color: #ffffff; */
  letter-spacing: 0.5px;
  outline: none;
  border: none;
}

.custom-title {
  font-size: 32px;
  font-weight: 500;
  line-height: 42px;
  text-align: center;
}

.custom-label {
  display: block;
  margin-top: 30px;
  font-size: 16px;
  font-weight: 500;
}

.custom-input {
  display: block;
  height: 50px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 3px;
  padding: 0 10px;
  margin-top: 8px;
  font-size: 14px;
  font-weight: 300;
}

.custom-input::placeholder {
  color: #f52b49;
}

.custom-button {
  display: block; 
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 60%; 
  background-color: #ffffff;
  color: #080710;
  padding: 10px 0;
  font-size: 16px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}

.custom-error-message {
  color: rgb(242, 56, 109);
  margin-top: 10px;
}

.toggle-link {
  margin-top: 20px;
  margin-left: 40px;
  cursor: pointer;
}